<a href="https://colab.research.google.com/github/WhoAreYou1224/datavis2025/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

In [ ]:
dict_a = {'abc' : 123,'def' : 456,'ghi' : 789}

In [ ]:
dict_a ['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b [ 'a' ] = 123

In [ ]:
dict_b

{'a': 123}

#การ add สมาชิกไปใน dict

In [ ]:
if 'a' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 123}

#ตัวอย่างการเขียน normal function

In [ ]:
def print_name(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('wachakorn')

In [ ]:
print_myname()

wachakorn

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('วชากร','66xxxxxx','สุขเกษม')

'ชื่อ สุขเกษม นามสกุล วชากร รหัส 66xxxxxx'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

#Quiz 5

เขียน function ของ HW2

commit "quiz5"

In [ ]:
def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(":"))
    return h * 3600 + m * 60 + s

def day_diff(start_day, end_day):
    week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    start_idx = week.index(start_day)
    end_idx = week.index(end_day)
    return (end_idx - start_idx) % 7  # ใช้ mod 7 เพื่อวนสัปดาห์

def calc_duration(start_time, start_day, end_time, end_day):
    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)

    days = day_diff(start_day, end_day)
    total_sec = days * 24 * 3600 + (end_sec - start_sec)

    return total_sec

#Quiz 6

เขียน function ของ HW2 -> มีการใช้ ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลขหรือกรอกแค่ 1 ตัว

comit quiz 6

In [ ]:
# prompt: เขียน function ของ
# def time_to_seconds(time_str):
#     h, m, s = map(int, time_str.split(":"))
#     return h * 3600 + m * 60 + s
# def day_diff(start_day, end_day):
#     week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
#     start_idx = week.index(start_day)
#     end_idx = week.index(end_day)
#     return (end_idx - start_idx) % 7  # ใช้ mod 7 เพื่อวนสัปดาห์
# def calc_duration(start_time, start_day, end_time, end_day):
#     start_sec = time_to_seconds(start_time)
#     end_sec = time_to_seconds(end_time)
#     days = day_diff(start_day, end_day)
#     total_sec = days * 24 * 3600 + (end_sec - start_sec)
#     return total_sec
# # ข้อมูล
# times = [
#     "12:30:15, Wednesday - 13:41:07, Thursday",
#     "12:53:15, Monday - 00:59:25, Tuesday",
#     "16:06:09, Sunday - 11:11:11, Tuesday"
# ]
# # ประมวลผล
# for line in times:
#     part1, part2 = line.split(" - ")
#     start_time, start_day = map(str.strip, part1.split(","))
#     end_time, end_day = map(str.strip, part2.split(","))
#     duration = calc_duration(start_time, start_day, end_time, end_day)
#     print(f"{start_time}, {start_day} - {end_time}, {end_day} => {duration} วินาที")
# มีการใช้ ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกัน iput วันแค่ 1  รอบ

def calc_duration_default_day(start_time, start_day, end_time, end_day=None):
    """
    คำนวณระยะเวลาระหว่างสองช่วงเวลา โดยสามารถกำหนดค่า default ของ end_day ได้
    ถ้า end_day ไม่ได้ระบุ จะถือว่าเป็นวันเดียวกับ start_day

    Args:
        start_time (str): เวลเริ่มต้นในรูปแบบ "HH:MM:SS"
        start_day (str): วันเริ่มต้นในรูปแบบ "Sunday", "Monday", etc.
        end_time (str): เวลาสิ้นสุดในรูปแบบ "HH:MM:SS"
        end_day (str, optional): วันสิ้นสุดในรูปแบบ "Sunday", "Monday", etc. Defaults to None.

    Returns:
        int: ระยะเวลาทั้งหมดในหน่วยวินาที
    """
    if end_day is None:
        end_day = start_day

    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)

    days = day_diff(start_day, end_day)
    total_sec = days * 24 * 3600 + (end_sec - start_sec)

    return total_sec

# ตัวอย่างการใช้งาน
times_with_default = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday",
    "09:00:00, Friday - 10:00:00" # ไม่ระบุวันสิ้นสุด
]

for line in times_with_default:
    parts = line.split(" - ")
    start_part = parts[0]
    end_part = parts[1]

    start_time, start_day = map(str.strip, start_part.split(","))

    end_parts_split = end_part.split(",")
    end_time = end_parts_split[0].strip()
    end_day = end_parts_split[1].strip() if len(end_parts_split) > 1 else None

    duration = calc_duration_default_day(start_time, start_day, end_time, end_day)

    end_day_str = end_day if end_day is not None else start_day # แสดงผล end_day ให้ถูกต้อง
    print(f"{start_time}, {start_day} - {end_time}, {end_day_str} => {duration} วินาที")

12:30:15, Wednesday - 13:41:07, Thursday => 90652 วินาที
12:53:15, Monday - 00:59:25, Tuesday => 43570 วินาที
16:06:09, Sunday - 11:11:11, Tuesday => 155102 วินาที
09:00:00, Friday - 10:00:00, Friday => 3600 วินาที

#ตัวอย่าง Quiz 6

In [ ]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss,day of the week 2ค่า

import datetime

def parse_time_day(time_day_str):
    parts = time_day_str.split(',')
    time_str = parts[0].strip()
    day_str = parts[1].strip() if len(parts) > 1 else None
    return time_str, day_str

def time_str_to_datetime(time_str, day_str=None):
    # This approach assumes the times are within a single week context for simplicity
    # For cross-week calculations, more robust datetime objects are needed
    # Using a fixed date (e.g., 2023-01-01 which is a Sunday) as a reference
    # will allow consistent day comparisons.
    base_date = datetime.date(2023, 1, 1) # Sunday

    weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    day_offset = 0
    if day_str:
        try:
            day_offset = weekdays.index(day_str)
        except ValueError:
            raise ValueError(f"Invalid day of the week: {day_str}")

    h, m, s = map(int, time_str.split(':'))
    # Create a datetime object with the base date and time
    dt_obj = datetime.datetime.combine(base_date + datetime.timedelta(days=day_offset), datetime.time(h, m, s))

    return dt_obj

def calculate_time_difference_seconds(time_day_str1, time_day_str2):
    """
    Calculates the time difference in seconds between two points in time,
    given as "HH:MM:SS, Day of the week".

    Args:
        time_day_str1 (str): The first time point string ("HH:MM:SS, Day of the week").
                             Day of the week is optional for the second point.
        time_day_str2 (str): The second time point string ("HH:MM:SS[, Day of the week]").

    Returns:
        int: The difference in seconds. Positive if time_day_str2 is after time_day_str1.
    """
    time_str1, day_str1 = parse_time_day(time_day_str1)
    time_str2, day_str2 = parse_time_day(time_day_str2)

    # If day_str2 is not provided, assume it's the same as day_str1
    if day_str2 is None:
        day_str2 = day_str1

    if day_str1 is None:
         raise ValueError("Day of the week must be provided for the first time point.")


    dt_obj1 = time_str_to_datetime(time_str1, day_str1)
    dt_obj2 = time_str_to_datetime(time_str2, day_str2)

    # Handle cases where the second time might be on the next week
    # If the second time is earlier than the first time on the same or earlier day
    # but the day is later or the same, it must be in the following week.
    if dt_obj2 < dt_obj1 and (time_str_to_datetime("00:00:00", day_str2) >= time_str_to_datetime("00:00:00", day_str1)):
         dt_obj2 += datetime.timedelta(weeks=1)


    time_difference = dt_obj2 - dt_obj1
    return int(time_difference.total_seconds())

# Example Usage:
print(calculate_time_difference_seconds("12:30:15, Wednesday", "13:41:07, Thursday"))
print(calculate_time_difference_seconds("12:53:15, Monday", "00:59:25, Tuesday"))
print(calculate_time_difference_seconds("16:06:09, Sunday", "11:11:11, Tuesday"))
print(calculate_time_difference_seconds("09:00:00, Friday", "10:00:00")) # Same day assumed
print(calculate_time_difference_seconds("23:00:00, Saturday", "01:00:00, Sunday")) # Cross week

90652
43570
155102
3600
-597600

# HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวน วินาที ในโจทย์ ต่อไปนี้

```
[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

```

In [ ]:
def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    seconds_per_day = 24 * 3600

    def to_seconds(t):
        h, m, s = map(int, t.split(':'))
        return h * 3600 + m * 60 + s

    t1_sec = to_seconds(time_str1)
    t2_sec = to_seconds(time_str2)
    d1_idx = days.index(weekday1)

    if weekday2 is None:
        d2_idx = d1_idx
        if t2_sec < t1_sec:
            d2_idx = (d1_idx + 1) % 7
    else:
        d2_idx = days.index(weekday2)

    day_diff = (d2_idx - d1_idx) % 7

    total_sec_1 = d1_idx * seconds_per_day + t1_sec
    total_sec_2 = d2_idx * seconds_per_day + t2_sec

    diff_forward = (total_sec_2 - total_sec_1) % (7 * seconds_per_day)
    diff_backward = (total_sec_1 - total_sec_2) % (7 * seconds_per_day)

    diff = diff_forward if diff_forward <= diff_backward else diff_backward

    return diff
test_cases = [
    ("10:00:00", "Monday", "11:30:00", None, 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", None, 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", None, 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

for i, (t1, d1, t2, d2, expected) in enumerate(test_cases, 1):
    result = time_difference_in_seconds(t1, d1, t2, d2)
    status = "✅" if result == expected else f"❌ (got {result})"
    d2_display = d2 if d2 is not None else d1
    print(f"Case {i}: {t1} {d1} → {t2} {d2_display} = {result} seconds {status}")

Case 1: 10:00:00 Monday → 11:30:00 Monday = 5400 seconds ✅
Case 2: 11:30:00 Monday → 10:00:00 Monday = 5400 seconds ✅
Case 3: 23:00:00 Sunday → 01:00:00 Sunday = 7200 seconds ✅
Case 4: 01:00:00 Monday → 23:00:00 Sunday = 7200 seconds ✅
Case 5: 10:00:00 Tuesday → 11:30:00 Thursday = 178200 seconds ✅
Case 6: 11:30:00 Thursday → 10:00:00 Tuesday = 178200 seconds ✅
Case 7: 12:00:00 Monday → 12:00:00 Monday = 0 seconds ✅
Case 8: 12:00:00 Monday → 12:00:00 Tuesday = 86400 seconds ✅
Case 9: 00:00:00 Monday → 23:59:59 Monday = 86399 seconds ✅
Case 10: 23:59:59 Sunday → 00:00:00 Monday = 1 seconds ✅

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i,end = '-> /\n')

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

##วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
for index, i in enumerate('Wachakorn'):
    print(f'สมาชิกคือ{i} ')

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

#Quiz 7 วนลูปแสดงค่า ตัวเลขอออกมาเป็นสามเหลี่ยมตามตัวอย่างนนี้

ex :

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
# prompt: วนลูปแสดงค่า ตัวเลขอออกมาเป็นสามเหลี่ยมตามตัวอย่างนนี้

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [2]:
if (1>0) & (0>-1):
    print(True & True)

True

In [1]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish

#break คิอ ออกจาก loop

In [15]:
number = [0, 2, 8, 24, 5, 69, 70, 81, 9, 10]
def check_od_in_list(input_list):
    for i in input_list:
        if i % 2 !=0:
            print(f'มีเลขคี่ คือ {i}')
            return input_list

        print('ไม่มีเลขคี่')

check_od_in_list(number)
check_od_in_list((0,2,8,24))

ไม่มีเลขคี่
ไม่มีเลขคี่
ไม่มีเลขคี่
ไม่มีเลขคี่
มีเลขคี่ คือ 5
ไม่มีเลขคี่
ไม่มีเลขคี่
ไม่มีเลขคี่
ไม่มีเลขคี่